<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="preProcessorToLower" class="ex00.service.school21.spring.implementations.PreProcessorToLowerImpl"/>
    <bean id="preProcessorToUpper" class="ex00.service.school21.spring.implementations.PreProcessorToUpperImpl"/>

    <bean id="renderErrToLower" class="ex00.service.school21.spring.implementations.RendererErrImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="renderErrToUpper" class="ex00.service.school21.spring.implementations.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>
    <bean id="renderStandardLower" class="ex00.service.school21.spring.implementations.RendererStandardImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="renderStandardUpper" class="ex00.service.school21.spring.implementations.RendererStandardImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <bean id="printerWithPrefix" class="ex00.service.school21.spring.implementations.PrinterWithPrefixImpl">
        <constructor-arg ref="renderErrToUpper"/>
        <property name="prefix" value="PREFIX "/>
    </bean>

    <bean id="printerWithDateTime" class="ex00.service.school21.spring.implementations.PrinterWithDateTimeImpl">
        <constructor-arg ref="renderErrToUpper"/>
    </bean>

</beans>
